    <nav>
        <div class="left-side">
            <a class="logo" href="/">Hello World!</a>
        </div>
        <ul class="right-side">
            <li><a href="/">Projects</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects/create">New Project</a></li>
        </ul>
    </nav>