<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2 class="title"><%= title %></h2>

        <div class="actual-content"></div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>